.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 50px;
}

.photograph-header img {
    width: 200px;
}

.photograph-header h1,
.photograph-header p {
    color: #D3573C;
    font-weight: 400;
    font-size: 64px;
    margin: 0;
}

.photograph-header .place {
    font-size: 24px;
}

.photograph-header .tagline {
    font-size: 18px;
    color: #525252;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

main {
    position: relative;
}

.media-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 90px;
    row-gap: 60px;
}

.media-gallery img,
.media-gallery video {
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.media-container p {
    margin: 0;
    color: #901C1C;
    font-size: 24px;
}

.title-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    color: #901C1C;
}

.like-count {
    margin-right: 5px;
}

.footer {
    background-color: #DB8876;
    width: 376px;
    height: 49px;
    display: flex;
    position: fixed;
    bottom: 0;
    right: 60px;
    border-radius: 10px 10px 0 0;
    align-items: center;
    justify-content: space-evenly;
}

.total-likes {
    margin-right: 10px;
}

#contact_modal {
    border: none;
    top: 0;
    padding: 0;
    border-radius: 5px;
    width: 46%;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
}

.modal {
    background-color: #DB8876;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
}

.modal-header {
    justify-content: space-between;
    width: 100%;
    margin-top: 0;
}

.close-button {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 50px;
}

.modal-header h2 {
    font-size: 64px;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 30px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 64px;
}

.form-field {
    margin-bottom: 26px;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.message input {
    height: 170px;
}

.sort-container {
    margin: 20px 100px;
}

#sort {
    background-color: #901C1C;
    color: white;
}

#sort option {
    background-color: #901C1C;
    color: white;
}

.lightbox {
    border: none;
    width: 75%;
    padding-inline: 70px;
}

.lightbox-content {
    position: relative;
}

.media-lightbox {
    width: 100%;
}

.lightbox-title {
    color: #901C1C;
    font-size: 24px;
}

.button-lightbox {
    background-color: transparent;
    color: #901C1C;
    border: none;
    outline: none;
    font-size: 50px;
    height: min-content;
    position: absolute;
}

.lightbox-close {
    top: 0;
    right: -55px;
}

.prev {
    top: 50%;
    left: -55px;
}

.next {
    top: 50%;
    right: -55px;
}